html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
}

body {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 5%;
}

div.banner {
	padding: 20px;
	margin-top: 35px;
}

form {
	padding: 20px;
	margin-top: 60px;
}

form button,
form h5 {
	margin: 20px 0;
}

#navbar {
}

#logoContainer {
	background-color: white;
	height: 30px;
	width: 55%;
	top: 16px;
	position: absolute;
}

#logoContainer:hover {
	cursor: pointer;
}

#editContainer {
	background-color: rgb(102, 176, 201);
	border-radius: 10%;
	height: 30px;
	width: 97px;
	top: 16px;
	left: 73%;
	position: absolute;
	text-align: center;
}

#logOutContainer {
	background-color: rgb(102, 176, 201);
	border-radius: 10%;
	height: 30px;
	width: 97px;
	top: 16px;
	left: 82%;
	position: absolute;
	text-align: center;
}

#logoContainer:hover,
#editContainer:hover {
	cursor: pointer;
}

#logo {
	color: black;
	position: relative;
	left: 47%;
	bottom: 17px;
	height: 50%;
}

#editLogo,
#logOutLogo {
	color: black;
	position: relative;
	bottom: 17px;
	height: 50%;
}

#logo:hover,
#editLogo:hover,
#logOutLogo:hover {
	cursor: hover;
}

.student_screen_container,
.college_screen_container,
.tracker_screen_container {
	display: grid;
	grid-template-columns: 1150px 350px;
}

.schoolsContainer {
	background-color: white;
	height: 700px;
	top: 20px;
	position: relative;
}

#collegeList {
	height: 652px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* 
    filters CSS for studentHome/college search screen
*/
.filtersContainer {
	background-color: white;
	height: 700px;
	top: 20px;
	left: 22px;
	text-align: center;
	position: relative;
	display: grid;
	grid-template-rows: 50px 55px 49px 49px 49px 49px 49px 49px 45px 65px 56px 50px;
}

.filtersBanner {
	background-color: lightskyblue;
	height: 48px;
}

#filterHeaderText {
	font-size: xx-large;
	right: 30%;
	position: relative;
	font-weight: bold;
}

#strictText {
	color: darkslategrey;
	right: 30%;
}

#strictBox {
	position: relative;
}

#strictBox:hover {
	cursor: pointer;
}

#strictBoxLocation {
	margin-top: -70px;
	margin-left: 220px;
}

#filtersText {
	text-align: center;
	position: relative;
	font-weight: bold;
}

#nameFilter {
	top: -8px;
	width: 70%;
	left: 14%;
}

.admissionRateFilter {
	height: 50px;
}

.admissionRate {
	width: 50px;
}

.costFilter {
	height: 50px;
}

.cost {
	width: 70px;
}

.rankFilter {
	height: 50px;
}

.rank {
	width: 50px;
}

.sizeFilter {
	height: 50px;
}

.size {
	width: 70px;
}

.scoreFilter {
	height: 50px;
}

.score {
	width: 70px;
}

#locationFilter {
	width: 70%;
	left: 14%;
}

#majorFilterContainer {
	display: grid;
	grid-template-columns: 349px 1px;
}

#majorFilter {
	top: -8px;
	width: 55%;
	left: 14%;
}

#enterMajorBtn {
	height: 40px;
	width: 40px;
	right: 95px;
	top: 10px;
	position: relative;
}

#chosenMajorContainer {
	height: 52px;
	width: 250px;
	left: 13%;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.majorListBox,
.highschoolListBox {
	display: grid;
	text-align: left;
}

.majorItem {
	display: grid;
	grid-template-columns: 215px 33px;
}

.deleteMajorBtn,
.deleteHSBtn {
	height: 25px;
}

.deleteMajorBtn:hover,
.deleteHSBtn:hover {
	cursor: pointer;
}

#searchCollegeBtn {
	height: 70px;
	width: 300px;
	top: 5%;
	position: relative;
}

#searchCollegeBtn:hover {
	cursor: pointer;
}

.searchCollegeBtn {
	height: 40px;
	width: 300px;
	top: 5%;
	position: relative;
}

.searchCollegeBtn:hover {
	cursor: pointer;
}

.collegeTitleText,
.adminTitleText {
	font-size: xx-large;
	font-weight: bold;
}

.collegeBodyText {
	font-size: large;
	font-weight: 600;
}

#collegeListBanner {
	display: grid;
	grid-template-columns: 100px 320px 130px 200px 120px 110px;
	background-color: lightskyblue;
}

#adminBanner {
	display: grid;
	grid-template-columns: 100px 320px 90px 161px;
	background-color: lightskyblue;
}

.college-list {
	display: grid;
	grid-template-columns: 555px 670px;
	grid-template-rows: repeat(100, 320px);
}

.college-list-view {
	display: grid;
	grid-template-columns: 555px;
	grid-template-rows: repeat(100, 320px);
}

.collegeContainer {
	display: grid;
	grid-template-columns: 578px 125px;
}

#questionableStatus {
	position: relative;
	margin-top: 140px;
	color: red;
	font-weight: bold;
	font-size: larger;
}

.collegeCard {
	background-color: aquamarine;
	margin-left: 20px;
	height: 305px;
	width: 540px;
}

.collegeCardSearched {
	background-color: aquamarine;
	margin-left: 20px;
	height: 305px;
	width: 540px;
}

.collegeCardSearched:hover,
.studentCard:hover {
	cursor: pointer;
	background-color: lightblue;
}

.collegeTitle,
.studentTitle {
	font-size: x-large;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
	color: black;
}

.collegeLocation {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	top: 10px;
	position: relative;
	display: grid;
	grid-template-columns: 368px 140px;
}

#goSimilarBtn {
	font-weight: bold;
	cursor: pointer;
	border-color: teal;
	background-color: cadetblue;
}

.studentLocation {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	top: 10px;
	position: relative;
}

.collegeType,
.studentMajors {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	top: 50px;
	position: relative;
}

.collegeText,
.studentText {
	font-weight: 100;
	color: darkslategrey;
}

.collegeBoxTitle {
	top: 10px;
	position: relative;
	display: grid;
	grid-template-columns: 428px 100px;
}

#applyBtn {
	font-weight: bold;
	cursor: pointer;
	border-color: teal;
	background-color: cadetblue;
}

.collegeBoxTitleAndStatus {
	display: grid;
	grid-template-columns: 403px 128px;
	top: 10px;
	position: relative;
}

#dropdwn {
	color: blue;
}

.collegeBoxSizeAndMath {
	display: grid;
	grid-template-columns: 135px 1000px;
}

.collegeBoxSizeAndBar {
	display: grid;
	grid-template-columns: 135px 15px 250px;
	margin-top: 60px;
}

.collegeBoxCostAndEnglish {
	display: grid;
	grid-template-columns: 135px 1000px;
}

.collegeBoxCostAndBar {
	display: grid;
	grid-template-columns: 135px 15px 250px 30px;
}

.collegeBoxDebtAndACT {
	display: grid;
	grid-template-columns: 135px 1000px;
}

.collegeBoxDebtAndBar {
	display: grid;
	grid-template-columns: 135px 15px 250px;
}

.collegeSize1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	top: 60px;
	position: relative;
}

.collegeMath1,
.studentMath1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	top: 60px;
	position: relative;
}

.collegeMath2,
.studentMath2,
.acceptedMath2,
.acceptedGPA2,
.acceptedEBRW2,
.acceptedACT2 {
	font-size: medium;
	color: black;
	position: relative;
}

.collegeSize2 {
	font-size: medium;
	margin-left: 20px;
	position: relative;
	color: black;
}

.collegeCost1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	position: relative;
}

.collegeEnglish1,
.studentEBRW1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	position: relative;
}

.collegeEnglish2,
.studentEBRW2 {
	font-size: medium;
	color: black;
	position: relative;
}

.collegeCost2 {
	font-size: medium;
	margin-left: 20px;
	color: black;
	position: relative;
}

.collegeDebt1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	position: relative;
}

.collegeACT1,
.studentACT1 {
	font-size: medium;
	color: grey;
	margin-left: 20px;
	position: relative;
}

.collegeACT2,
.studentACT2 {
	font-size: medium;
	color: black;
	position: relative;
}

.collegeDebt2 {
	font-size: medium;
	margin-left: 20px;
	position: relative;
	color: black;
}

#collegeRec {
	position: relative;
	margin-left: 20px;
}

.collegeAdmission {
	font-size: medium;
	color: grey;
	top: 50px;
	position: relative;
}

#collegeBanner {
	display: grid;
	grid-template-columns: 400px 250px 130px 200px 100px;
}

#collegeBanner:hover {
	background-color: lightcyan;
}

#collegeBody {
	display: grid;
	grid-template-columns: 200px 240px 240px 190px 145px 95px;
}

.collegeMoney {
	position: relative;
	top: -6px;
	display: grid;
	grid-template-rows: 22px 20px;
}

.collegeScores {
	position: relative;
	top: -21px;
	display: grid;
	grid-template-rows: 22px 20px 20px;
}

.react-sweet-progress-circle-outer {
	left: 400px;
	bottom: 115px;
}

.sortNameBtn {
	margin-top: 11px;
	font-size: large;
	display: grid;
	grid-template-columns: 43px 0px 0px;
}

.sortARBtn {
	margin-top: 11px;
	font-size: large;
	display: grid;
	grid-template-columns: 116px 0px 0px;
}

.sortCostBtn {
	margin-top: 11px;
	font-size: large;
	display: grid;
	grid-template-columns: 33px 0px 0px;
}

.sortRankBtn {
	margin-top: 11px;
	font-size: large;
	display: grid;
	grid-template-columns: 39px 0px 0px;
}

.sortNameBtn:hover,
.sortARBtn:hover,
.sortCostBtn:hover,
.sortRankBtn:hover {
	cursor: pointer;
	color: cadetblue;
}

/* 
    viewProfile screen CSS
*/
.profileContainer {
	background-color: white;
	height: 610px;
	top: 20px;
	position: relative;
}

#profileList {
	display: grid;
	grid-template-columns: 756px 750px;
	grid-template-rows: 210px 210px;
}

#generalInfoList {
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
	height: 230px;
	width: 745px;
	border-color: lightgray;
	border-width: 4px;
	border-style: outset;
	display: grid;
	grid-template-rows: 40px 30px 30px 30px 30px 30px 30px 30px;
}

#educationInfoList {
	background-color: white;
	margin-left: 10px;
	margin-top: 30px;
	height: 315px;
	width: 745px;
	border-color: lightgray;
	border-width: 4px;
	border-style: outset;
	display: grid;
	grid-template-rows: 40px 30px 30px 30px 30px 30px 30px 30px;
}

#collegeInfoList {
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
	height: 545px;
	width: 745px;
	border-color: lightgray;
	border-width: 4px;
	border-style: outset;
	display: grid;
	grid-template-rows: 40px 30px 30px 30px 30px 30px 30px 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.collegeCardProfile0,
.collegeCardProfile1 {
	width: 737px;
}

.collegeCardProfile0 {
	background-color: white;
}

.collegeCardProfile1 {
	background-color: lightgrey;
	height: 50px;
}

.college-listProfile {
	display: grid;
	grid-template-rows: repeat(100, 50px);
}

.collegeBoxTitleAndStatusProfile {
	display: grid;
	grid-template-columns: 585px 128px;
	margin-top: 5px;
	position: relative;
}

.collegeTitleProfile {
	font-size: x-large;
	font-weight: bold;
	margin-left: 20px;

	position: relative;
	color: black;
}

.profileHeader {
	position: relative;
	font-size: x-large;
	font-weight: bold;
	background-color: lightblue;
	top: -4px;
	width: 350px;
	border-style: outset;
	border-width: 2px;
}

.profileText {
	position: relative;
	font-size: large;
	text-indent: 10px;
	left: 10px;
	font-weight: bold;
}

.profilePrompt {
	position: relative;
	font-size: large;
	width: 203px;
	text-indent: 10px;
	margin-left: 20px;
	font-weight: bold;
	background-color: lightgoldenrodyellow;
}

#generalHSHeader,
#generalCollegeHeader {
	display: grid;
	grid-template-columns: 387px 500px 10px;
}

#profileBanner {
	display: grid;
	grid-template-columns: 100px 1092px 100px 10px 100px 10px 100px;
	background-color: lightskyblue;
}

.profileButton {
	position: relative;
	top: 4px;
	height: 40px;
	background-color: rgb(102, 176, 201);
	border-color: lightblue;
	font-size: large;
}

.profileButton:hover {
	cursor: pointer;
}

#profileButtonSymbols {
	font-size: 37px;
}

#otherProfileBanner {
	display: grid;
	grid-template-columns: 100px 1315px 100px;
	background-color: lightskyblue;
}

/* 
    login/register screen CSS
*/
.login_screen_container,
.register_screen_container {
	display: grid;
	grid-template-columns: 500px 1000px;
}

.loginContainer {
	background-color: white;
	height: 300px;
	width: 400px;
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 10%;
	text-align: center;
	display: grid;
	grid-template-rows: 20px 70px 75px 80px 32px;
}

.loginText {
	font-size: xx-large;
}

#userID,
#password,
#name,
#passwordCheck {
	left: 5%;
	width: 90%;
}

.loginButtons {
	display: grid;
	grid-template-columns: 160px 25px;
}

#login,
#register {
	position: relative;
	left: 45px;
	width: 150px;
	height: 35px;
}

#login:hover,
#register:hover {
	cursor: pointer;
}

.errorText {
	color: red;
}

.registerContainer {
	background-color: white;
	height: 447px;
	width: 400px;
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 10%;
	text-align: center;
	display: grid;
	grid-template-rows: 20px 70px 75px 75px 75px 75px 32px;
}

/* 
    appTracker CSS
*/
#studentListBanner {
	display: grid;
	grid-template-columns: 100px 330px 930px;
	background-color: lightskyblue;
}

#studentList {
	height: 652px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.student-list {
	display: grid;
	grid-template-columns: 371px 371px 670px;
	grid-template-rows: repeat(100, 320px);
}

.studentCard {
	background-color: aquamarine;
	margin-left: 20px;
	height: 305px;
	width: 350px;
}

.studentBoxTitleAndStatus {
	display: grid;
	grid-template-columns: 255px 128px;
	top: 10px;
	position: relative;
}

.studentStatus {
	background-color: lightcyan;
	height: 36px;
	border-radius: 50%;
	text-align: center;
	width: 90px;
	padding-top: 5px;
	font-size: large;
}

.trackerFiltersContainer {
	background-color: white;
	height: 700px;
	top: 20px;
	left: 22px;
	text-align: center;
	position: relative;
	display: grid;
	grid-template-rows: 50px 55px 175px 60px 85px 45px;
}

.collegeClassFilter {
	height: 50px;
}

.collegeClass {
	width: 50px;
}

#highschoolFilterContainer {
	display: grid;
	grid-template-columns: 349px 1px;
}

#highschoolFilter {
	top: -8px;
	width: 55%;
	left: 14%;
}

#enterHighschoolBtn {
	height: 40px;
	width: 40px;
	right: 95px;
	top: 10px;
	position: relative;
}

.appStatusFilter {
	display: grid;
	grid-template-rows: 1px 1px 1px 1px 1px 1px;
}

#acceptedBoxLocation {
	margin-top: -10px;
	margin-left: 80px;
}

#pendingBoxLocation {
	margin-top: 12px;
	margin-left: 75px;
}

#wait-listedBoxLocation {
	margin-top: 34px;
	margin-left: 85px;
}

#deferredBoxLocation {
	margin-top: 57px;
	margin-left: 77px;
}

#deniedBoxLocation {
	margin-top: 80px;
	margin-left: 71px;
}

#withdrawnBoxLocation {
	margin-top: 102px;
	margin-left: 86px;
}

#chosenHSContainer {
	height: 78px;
	width: 250px;
	left: 13%;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.highschoolItem {
	display: grid;
	grid-template-columns: 197px 33px;
}

.studentMathScore,
.acceptedMathScore,
.acceptedGPAScore,
.acceptedEBRWScore,
.acceptedACTScore {
	margin-left: 20px;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 20px 220px;
}

.studentEBRWScore {
	margin-left: 20px;
	display: grid;
	grid-template-columns: 20px 220px;
}

#trackerStatContainer {
	bottom: 50px;
	display: grid;
	grid-template-rows: 0px 10px 35px 10px 35px 10px 35px 10px 86px 0px 10px 35px 10px 35px 10px 35px 10px;
	background-color: white;
	height: 460px;
}

#filterStatsText {
	font-size: 30px;
	position: relative;
	font-weight: bold;
}

.acceptedGPA1 {
	font-size: medium;
	color: grey;
	margin-right: 153px;
	top: 50px;
	position: relative;
}

.acceptedMath1 {
	font-size: medium;
	color: grey;
	margin-right: 73px;
	top: 50px;
	position: relative;
}

.acceptedEBRW1 {
	font-size: medium;
	color: grey;
	margin-right: 62px;
	top: 50px;
	position: relative;
}

.acceptedACT1 {
	font-size: medium;
	color: grey;
	margin-right: 116px;
	top: 50px;
	position: relative;
}

#graphBtn {
	position: relative;
	margin-left: 265px;
	bottom: 410px;
	height: 183px;
}

#graphBtn:hover {
	cursor: pointer;
}

.btnContainer {
	display: grid;
	grid-template-columns: 10px 165px 165px;
}

.backSearchBtn:hover,
.applicantFilterBtn:hover {
	cursor: pointer;
}

/*
	admin screen
*/
.adminContainer {
	background-color: white;
	top: 20px;
	position: relative;
}

.adminBtn {
	height: 70px;
	width: 200px;
}

/*
	graph screen
*/
#graphContainerSAT {
	height: 600px;
}

#graphContainerACT {
	height: 600px;
}

#graphContainerStandard {
	height: 600px;
}

#graphBtnContainer {
	background-color: lightskyblue;
	height: 52px;
	display: grid;
	grid-template-columns: 40px 180px 25px 200px 50px 200px 50px 200px;
}

.graphBtns {
	font-weight: bold;
	cursor: pointer;
	border-color: teal;
	background-color: cadetblue;
}

.meanLineGPA {
	position: relative;
	color: black;
	border-style: dashed;
	height: 1px;
	width: 923px;
	margin-left: 90px;
	border-radius: 1px;
	border-width: 1px;
}

.meanLineOther {
	position: relative;
	color: black;
	border-style: dashed;
	height: 470px;
	width: 1px;
	bottom: 543px;
	border-radius: 1px;
	border-width: 1px;
}
