html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

#navbar {


}

#logoContainer {
  background-color: white;
  height: 30px;
  width: 55%;
  top: 16px;
  position: absolute;

}

.logo {

  color: black;
  position: relative;
  left: 47%;
  bottom: 17px;
  
}

.student_screen_container {
  display: grid;
  grid-template-columns: 1150px 350px;
}

.schoolsContainer {
  background-color: white;
  height: 700px;
  top: 20px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filtersContainer {
  background-color: white;
  height: 700px;
  top: 20px;
  left: 22px;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-rows: 50px 60px 55px 55px 55px 55px 60px 65px 57px 90px;
}

#searchCollegeBtn:hover {
  cursor: pointer;
}

.filtersBanner {
  background-color: lightskyblue;
  height: 48px;
}

#filterHeaderText {
  font-size:xx-large;
  right: 30%;
  position: relative;
  font-weight: bold;
}

#strictText {
  color: darkslategrey;
  right: 30%;
}

#strictBox {
  position: relative;
}

#strictBox:hover {
  cursor: pointer;
}

#strictBoxLocation {
  margin-top: -70px;
  margin-left: 220px;
}

#filtersText {
  text-align: center;  position: relative;
  font-weight: bold;
}

#nameFilter {
  top: -8px;
  width: 70%;
  left: 14%
}

.admissionRateFilter {
  height: 50px;
}

.admissionRate {
  width: 50px;
}

.costFilter {
  height: 50px;
}

.cost {
  width: 70px;
}

.rankFilter {
  height: 50px;
}

.rank {
  width: 50px;
}

.sizeFilter {
  height: 50px;
}

.size {
  width: 70px;
}

.scoreFilter {
  height: 50px;
}

.score {
  width: 70px;
}

#locationFilter {
  width: 70%;
  left: 14%
}

#majorFilterContainer {
  display: grid;
  grid-template-columns: 349px 1px;
}

#majorFilter {
  top: -8px;
  width: 55%;
  left: 14%
}

#enterMajorBtn {
  height: 40px;
  width: 40px;
  right: 95px;
  top: 10px;
  position: relative;
}

#chosenMajorContainer {
  height: 80px;
  width: 250px;
  left: 13%;
  position: relative;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  overflow-y: scroll;
}

.majorListBox {
  display: grid;
  text-align: left;

}

.majorItem{
  display: grid;
  grid-template-columns: 198px 33px;
}

.deleteMajorBtn{
  height: 25px;
}

#searchCollegeBtn {
  height: 70px;
  width: 300px;
  top: 5%;
  position: relative;
}

.collegeTitleText {
  font-size: xx-large;
  font-weight: bold;
}

.collegeBodyText {
  font-size: large;
  font-weight: 600;
}

#collegeListBanner {
  display: grid;
  grid-template-columns: 100px 320px 230px 150px 120px 300px;
  background-color: lightskyblue;
}

.college-list {
  display: grid;
  grid-template-columns: 555px 670px;
  grid-template-rows: repeat(100, 320px);
}

.collegeCard {
  background-color: aquamarine;
  margin-left: 20px;
  height: 305px;
  width: 540px;
}

.collegeTitle {
  font-size: x-large;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
}

.collegeLocation {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  top: 10px;
  position: relative;
}

.collegeType {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  top: 50px;
  position: relative;
}

.collegeText {
  font-weight: 100;
  color: darkslategrey;
}

.collegeBoxTitleAndStatus {
  display: grid;
  grid-template-columns: 403px 125px;
  top: 10px;
  position: relative;
}

.collegeBoxSizeAndMath {
  display: grid;
  grid-template-columns: 115px 1000px;
}

.collegeBoxSizeAndBar {
  display: grid;
  grid-template-columns: 115px 15px 250px;
  margin-top: 60px;
}

.collegeBoxCostAndEnglish {
  display: grid;
  grid-template-columns: 115px 1000px;
}

.collegeBoxCostAndBar {
  display: grid;
  grid-template-columns: 115px 15px 250px 20px;
}

.collegeBoxDebtAndACT {
  display: grid;
  grid-template-columns: 115px 1000px;
}

.collegeBoxDebtAndBar {
  display: grid;
  grid-template-columns: 115px 15px 250px;
}

.collegeSize1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  top: 60px;
  position: relative;
}

.collegeMath1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  top: 60px;
  position: relative;
}

.collegeMath2 {
  font-size: medium;
  color: black;
  position: relative;
}

.collegeSize2 {
  font-size: medium;
  margin-left: 20px;
  position: relative;
}

.collegeCost1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  position: relative;
}

.collegeEnglish1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  position: relative;
}

.collegeEnglish2 {
  font-size: medium;
  color: black;
  position: relative;
}

.collegeCost2 {
  font-size: medium;
  margin-left: 20px;
  position: relative;
}

.collegeDebt1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  position: relative;
}

.collegeACT1 {
  font-size: medium;
  color: grey;
  margin-left: 20px;
  position: relative;
}

.collegeACT2 {
  font-size: medium;
  color: black;
  position: relative;
}

.collegeDebt2 {
  font-size: medium;
  margin-left: 20px;
  position: relative;
}

.collegeAdmission {
  font-size: medium;
  color: grey;
  top: 50px;
  position: relative;
}

#collegeBanner {
  display: grid;
  grid-template-columns: 400px 250px 130px 200px 100px;
}

#collegeBanner:hover {
  background-color: lightcyan;
}

#collegeBody {
  display: grid;
  grid-template-columns: 200px 240px 240px 190px 145px 95px;
}

.collegeMoney {
  position: relative;
  top: -6px;
  display: grid;
  grid-template-rows: 22px 20px;
}

.collegeScores {
  position: relative;
  top: -21px;
  display: grid;
  grid-template-rows: 22px 20px 20px;
}

.react-sweet-progress-circle-outer {
  left: 400px;
  bottom: 115px;
}
